.restHall{
    background-color: black;
    display: block;
}
.wrapper{
    display: block;
    background-color: #350D10;
    height: 100vh;
}
.hall{
    display: block;
    background-image: url("../images/Hall.jpg");
    background-size: 98%;
    background-position:center;
    background-repeat: no-repeat;
    border: solid 3px black;
    height: 90vh;
    position: relative;
    top: 3rem;
    margin:0 3rem 3rem 3rem
}
.tables{
    margin-top: 2.4rem;
    margin-left: 7.7rem;
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(4, 260px);
    align-self: center;
    /*justify-content: center;*/
}
.table{
    margin-top: 1rem;
    margin-left: -2px;
    width: 251px;
    height: 100px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    align-self: center;
}
.table:hover{
    border: solid 3px black;
    cursor: pointer;
    border-radius: 10px;
}
#rounded{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 0.8rem;
    margin-left: 5.2rem;
}
#rounded1{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 0.8rem;
}
.tableImg{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#tableNumber{
    position: absolute;
    font-size: 20px;
    color: white;
}

.barCounter{
}
.door{
    background-color:#350D10;
    display: block;
    position: absolute;
    top: 75vh;
    left: 85.3vw;
    width: 150px;
    height: 200px;
    text-align: center;
    padding-top: 150px;
}
.danceFloor{
    width: 500px;
    margin-top: 2.6rem;
    margin-right: 8rem;
    height: 470px;
    align-self: center;
    /*border: dashed darkblue;*/
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
