.container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 94.82%;
  background: rgba(251, 251, 253, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

.urls{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-self: end;
  align-self: center;
  grid-gap: 61px;
}

.btns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-self: center;
  grid-gap: 61px;
  align-self: center;
}
#bookingBtn{
  background: #111B47;
  display: block;
  font-size: 15px;
  color: #FFD166;
  width: 140px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;


}
#contactBtn{
  background: #FFD166;
  font-size: 15px;
  color: #091133;
  width: 140px;
  height: 30px;
  border-radius: 5px;
}


